<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <%= link_to '✖', root_path, class: 'x-back-home' %>
    <div class="form-inputs fonts", style="width: 80%">
      <div class="form-group d-flex form-head-buttons">
        <%= link_to 'Log in', new_path, class: 'btn-pixel-45w' %>
        <%= link_to 'Sign up', "#", class: 'btn-pixel-45w btn-pixel-45w-disable' %>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs fonts">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :name,
                      required: true,
                      input_html: { autocomplete: "name" }%>
          <div class="form-inputs mb-3 form-two-inline">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="form-actions fonts">
          <%= f.button :submit, "Sign up", class: 'btn-pixel-full-width mb-5' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
