<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <%= link_to '✖', root_path, class: 'x-back-home' %>
    <div class="form-inputs fonts", style="width: 80%">
      <div class="form-group d-flex form-head-buttons mb-5">
        <%= link_to 'Login', new_path, class: 'btn-pixel-45w' %>
        <%= link_to 'Sign up', "#", class: 'btn-pixel-45w btn-pixel-45w-disable' %>
      </div>
      <%= form_with(model: resource, url: user_registration_path(resource), format: :html, local: true, html: {class: 'simple_form new_user'}) do |f| %>
        <div class="form-inputs fonts">
          <div class="form-group email required user_email">
            <%= f.text_field :email,
                              required: true,
                              autofocus: true,
                              placeholder: 'email',
                              label: false,
                              class: 'form-control' %>
          </div>
          <div class="form-group email required user_email">
            <%= f.text_field :name,
                              required: true,
                              placeholder: 'name',
                              label: false,
                              class: 'form-control' %>
          </div>

          <div class="form-inputs mb-3 form-two-inline">
            <div class="form-group password required user_password">
              <%= f.password_field :password,
                                    required: true,
                                    placeholder: 'password',
                                    label: false,
                                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                    class: 'form-control password required' %>
            </div>
            <div class="form-group password required user_password_confirmation">
              <%= f.password_field :password_confirmation,
                                    required: true,
                                    placeholder: 'password confirmation',
                                    label: false,
                                    class: 'form-control password required' %>
            </div>
          </div>
        </div>
        <div class="form-actions fonts">
          <%= f.submit "Sign up", class: 'btn-pixel-full-width', style: "border: none;" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
