<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>Welcome<%= ", #{@plays.last.user.name}" if @plays.last.user.name %>!</h1>
    </div>
    <div class="home-button-container">
      <% if current_user.play %>
        <%= link_to 'Continue Adventure', show_path(current_user.play), class: "btn-pixel-full-width mb-5" %>
      <% end %>
      <%= link_to 'Reset Adventure', new_path, class: "btn-pixel-full-width", data: {confirm: 'Your previous Adventure will be reset. Are you sure?'} %>
    </div>
    <div class="close-story">
        <%= link_to '✖', root_path, class: 'x-back-home' %>
    </div>
  </div>
</div>
</div>
