<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>Welcome <%= current_user.name if current_user %>!</h1>
    </div>
    <div class="home-button-container">
      <% if @play %>
        <%= link_to 'Continue Adventure', show_path(@play), class: "mb-4 btn-pixel-full-width" %>
      <% end %>
      <%= link_to 'New Adventure', new_path, class: "mb-4 btn-pixel-full-width", data: ({confirm: 'Your previous Adventure will be reset. Are you sure?'} if @play) %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-pixel-full-width", data: {confirm: 'Your previous Adventure will be reset. Are you sure?'} %>
    </div>
    <%= link_to '✖', root_path, class: 'x-back-home' %>
  </div>
</div>
</div>
