<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>Welcome <%= current_user.name if current_user %>!</h1>
    </div>
    <div class="home-button-container">
      <% if @play %>
        <%= link_to 'Continue Adventure', show_path(@play), class: "mb-4 btn-pixel-full-width" %>
      <% end %>
      <button id="confirmation-alert-new-game" class="mb-4 btn-pixel-full-width">New Adventure</button>
      <%= link_to "", new_path, id: "new-link-game", class: "hidden" %>
      <button id="confirmation-alert-log-out" class="mb-4 btn-pixel-full-width">Logout</button>
      <%= link_to "", destroy_user_session_path, id: "log-out-link", class: "hidden" %>
    </div>
    <%= link_to '✖', root_path, class: 'x-back-home' %>
  </div>
</div>
</div>
