<div class="play-container" data-controller="play">
  <div class="play-window-view">
    <%= render 'game_menu' %>
    <div class="dialogue-layer"> <%# Sets a layer above the map for the dialogues %>
      <%= render 'dialogue' %>
    </div>
    <%= render'map' %>
  </div>
  <%= render 'start_game' %>
  <%= render 'final_score' %>
</div>
<%= audio_tag "hello_world.mp3", id: "background_audio" %>
<%= audio_tag "correct.mp3", id: "correct_audio" %>
<%= audio_tag "wrong.mp3", id: "wrong_audio" %>
