<div class="play-container" data-controller="play">
  <div class="play-window-view">
    <%= render 'game_menu' %>
    <div class="dialogue-layer"> <%# Sets a layer above the map for the dialogues %>
      <%= render 'dialogue' %>
    </div>
    <%= render'map' %>
  </div>
</div>

<div class="final-score" data-play-target="finalScore">
  <div class="score-container">
    <h2>You did it!</h2>
    <p>You have helped Ruby find his way home!</p>
    <p>This is your final score:</p>
    <div class="score-box">
      <%= @play.score %>
    </div>
    <%= link_to plays_path do %>
      <div class="btn-menu">
      <p>BACK</p>
      </div>
    <% end %>
  </div>
</div>
