<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title text-center">
      <h2>High Score Table</h2>
    </div>
    <%= link_to '✖', root_path, class: 'x-back-home' %>
    <div class="score-container">
      <table class='score-table'>
        <tr class='table-row'>
          <th class="rank-column">RANK</th>
          <th class="name-column">NAME</th>
          <th class="score-column">SCORE</th>
        </tr>
        <tr>
          <% @plays.each.sort_by{ |play| -play.score }.first(10) do |play, index| %>
            <td><%= index + 1 %></td>
            <td><%= play.user.name %></td>
            <td><%= play.score %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
